body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background:  #007ced;
    font-family: Arial, sans-serif;
}
